{
    "env": {
      "test_main": {
        "plugins": [
          ["istanbul", {
            "coverageVariable": "__coverage__",
            "exclude": ["**/*.spec.js"]
          }]
        ]
      }
    }
  }
