{
  "singleQuote": true,
    "tabWidth": 4,
    "parser": false,
    "prefer-destructuring": ["error", {"object": true, "array": false}],
    "printWidth": 160,
    "overrides": [
      {
        "files": [
          ".prettierrc",
          ".eslintrc"
        ],
        "options": {
          "parser": "json"
        }
      }
    ]
}
